<div class="info">
	<p class="object"><span class="object_header">Альфа:</span> {{block}} блок</p>
	<p class="object"><span class="object_header">Квартира:</span> №{{appartament}}</p>
	<p class="object"><span class="object_header">Строительные оси:</span> {{constructionAxis}}</p>
</div>
